@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* font-family: "Courier New", Courier, monospace; */
    font-family: "Silkscreen", cursive;
  }
}

/* body {
  @apply font-pixelPrimary bg-[#ece3d9] bg-opacity-10;
} */
/* 
body {
  font-family: "Silkscreen", cursive;
} */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
